<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<th:block th:replace="fragment/header :: headerFragment"></th:block>
</head>
<body>
<div id="wrapper">
    <nav>
        <a th:href="@{/signup}">
            <button>회원가입</button>
        </a>
        <a th:href="@{/signin}">
            <button id="loginButton">로그인</button>
        </a>
        <button id="logoutButton" th:onclick='logout()'>로그아웃</button>
        <a th:href="@{/list}">
            <button>글목록</button>
        </a>
    </nav>
    <div id="content">
        <th:block layout:fragment="content"></th:block>
    </div>
</div>
<th:block th:replace="~{fragment/script :: script}"></th:block>
<th:block layout:fragment="script"></th:block>

<script th:inline="javascript">
    function logout(){
        if (localStorage.getItem('id') != null) {
            localStorage.removeItem('id');
            alert('로그아웃 되었습니다.');
            location.href = "/"
        } else {
            alert('로그인하세요!');
        }
    }

    /*로그인 여부에 따른 메뉴 출력*/
    $(document).ready(function() {
        const localStorageId = localStorage.getItem('id');
        if (localStorageId != null) {
            $('#loginButton').hide();
            $('#logoutButton').show();
        } else {
            $('#loginButton').show();
            $('#logoutButton').hide();
        }
    });
</script>
</body>
</html>