<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head th:replace="~{fragment/header::headerFragment(~{::title})}">
    <title th:text="수정"></title>
</head>
<body>
<th:block layout:fragment="content">
    <div>
        <h2>글 수정</h2>
        <div>
            <label for="title">제목</label>
            <input title="글제목" type="text" name="title" id="title" th:value="${post.title}"/>
        </div>
        <div class="content-box">
            <label>내용</label>
            <textarea id="txtArea" class="content" name="content"
                      rows="10" cols="50" th:text="${post.content}">

            </textarea>
        </div>
        <input class="save" type="button" value="저장">
    </div>
</th:block>
<th:block layout:fragment="script">
    <script type="text/javascript">
        var id = "[[${post.id}]]";
        console.log(id)

        $(document).ready(function(e){
            /*<![CDATA[*/
            $('.save').click((e) => {
                console.log("click!")
                const title = $('#title').val();
                const content = $('.content').val();

                if (title == '') {
                    alert('제목을 입력해주세요');
                    return;
                }
                if (content == '') {
                    alert('내용을 입력해주세요');
                    return;
                }

                const path = '/api/posts/'+ id;
                const json = JSON.stringify({
                    'title': title,
                    'content': content,
                });
                $.ajax({
                    url: path,
                    type: 'POST',
                    contentType: 'application/json;charset=UTF-8',
                    data: json,
                }).done((response) => {
                    console.log(response);
                    if (response == 'success') {
                        alert('등록 성공')
                        location.href = "/"
                    } else {
                        alert(response);
                    }
                });
            });
        });
        /*]]*/
    </script>
</th:block>

</body>
</html>